.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    color: #343A40;     
}

*{
    padding: 0;
    margin: 0;
    border: 0;    
}

@mixin text-characteristics {
    color: #343A40;
    font-family: 'Poppins, sans-serif';
    font-size: 14px;
    line-height: 21px; 
}

header{
    background: url(../images/shemi.png);
    background-repeat: no-repeat;
    
      }

.logo-shadow{
    width: 100%;
    filter: drop-shadow(0px 0px 34px rgba(208, 208, 208, 0.4));
    background: white;

    .logo{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
   
    .logo-image{
        margin-top: 9px;    
    }
}
}


.logo .logo-links{
    padding-top: 22px;
    display: flex;
    width: 100%;
    max-width: 409px;
    justify-content: space-between;
    

    a{
        text-decoration: none;
        color: #343A40;
        }
    li{
        display: inline-block;
        list-style: none;
        
    }
}
.info-container{
    padding-top: 182px;
    padding-bottom: 320px;
    width: 80%;
    margin: 0 auto;
 
    
    
    &__text-top{
        font-family: "Rubik, sans-serif";
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
        
    }
    .head{
        font-family: 'Rubik, sans-serif';
        font-size: 74px;
        font-weight: 700;
        line-height: 88px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    &__text-mid{
        font-family: 'Rubik, sans-serif';
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 62px;
    }
    &__buttom{
        text-decoration: none;
        color: white;
        font-family: 'Poppins, sans-serif';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 18px 117px 18px 49px;
        background: #3355FF;
    }
    &__buttom:hover{
        background:#1631B6;
        transition: 1s;
    }
    &__text-bottom{
        display: inline-block;
        color: #343A40;  
        font-family: 'Poppins, sans-serif';
        font-size: 16px;
        line-height: 24px;
        margin-left: 70px;
    }
    &__img-button{
        position: absolute;
        margin-left: 24px;

    }

}

.center{
    width: 80%;
    margin: 0 auto;
}


.content-cards{
    padding-top: 202px;
    background: #ECF2F9;  

        .info-card{
            display: grid;
            grid-template-columns: repeat(4, 276px);
            column-gap: 25px;
            justify-items: center;
            position: absolute;
            height: 198px;
            top: 663px;
        
                
            &__info-items__cripto{
                padding: 43px 64px;
                background: #FFFFFF;
                box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
                border-radius: 4px;
            
                .info-items__text-head{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 78px;
                    margin-bottom: 4px;
                }
                .info-items__text-description{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-size: 20px;
                    line-height: 30px;
    
                }
    
            }
            &__info-items__capital{
                padding: 42px 27px 48px 28px;
                background: #FFFFFF;
                box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
                border-radius: 4px;
            
                .info-items__text-head{
               
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 78px;
                    margin-bottom: 4px;
                 }
                .info-items__text-description{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-size: 20px;
                    line-height: 30px;
    
                }
            }
    
            &__info-items__volume{
                padding: 43px 30px;
                background: #FFFFFF;
                box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
                border-radius: 4px;
    
                .info-items__text-head{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 78px;
                    margin-bottom: 4px;
                }
                .info-items__text-description{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-size: 20px;
                    line-height: 30px;
    
                }
    
    
            }
            &__info-items__btc{
                padding: 43px 57px;
                background: #FFFFFF;
                box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
                border-radius: 4px;
    
                .info-items__text-head{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-weight: bold;
                    font-size: 52px;
                    line-height: 78px;
                    margin-bottom: 4px;
                }
                .info-items__text-description{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-size: 20px;
                    line-height: 30px;
    
                }
            }
        }
  
        .content-items{
            display: grid;
            grid-template-columns: repeat(3, 376px);
            /*grid-template-rows: repeat(2, 372px);*/
            column-gap: 24px;
            row-gap: 24px;
            padding-bottom: 161px;

            &__text-head{
            color: #343A40;
            font-family: 'Rubik, sans-serif';
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            width: 21%;
            margin-right: 100px;
            }

           

                .content-items__text-card{
                    position: relative;
                &__box{
                    padding: 60px 20px 40px 40px;
                    width: 316px;
                    background: #fff;
                }

                    &__text-head{
                    color: #343A40;
                    font-family: 'Poppins, sans-serif';
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px;
                }
                &__text-descr{
                    @include text-characteristics
                }
                &__text-head-botton{
                    color: #343A40;
                    margin-top: 20px;
                    font-family: 'Poppins, sans-serif';
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
                &__logo-rocket{
                    padding: 20px 20px;
                    background: white;
                    position: absolute;
                    top: -16%;
                    left: 10%;
                }
                &__logo-graf{
                    padding: 20px 20px;
                    background: white;
                    position: absolute;
                    top: -16%;
                    left: 10%;
                }
                &__logo-time{
                    padding: 20px 20px;
                    background: white;
                    position: absolute;
                    top: -14%;
                    left: 10%;
                }
                &__logo-table{
                    padding: 20px 20px;
                    background: white;
                    position: absolute;
                    top: -14%;
                    left: 10%;
                }
                &__logo-device{
                    padding: 20px 20px;
                    background: white;
                    position: absolute;
                    top: -14%;
                    left: 10%;
                  
                }
               
            }

        }   

}
.content-items__text-card_bottom-block{
    margin-top: 11%;

}

.content-description{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 229px;

    &-box{
        width: 42%;

        h3{
            color: #343A40;
            font-family: 'Rubik, sans-serif';
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
        }
        h4{
            color: #343A40;
            font-family: 'Poppins, sans-serif';
            font-size: 24px;
            font-weight: 600;
            line-height: 37px;
        }
        &-box__text{
            font-family: 'Poppins, sans-serif';
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__imgtop{
        margin-left: 195px;
    }
    &__imgbotton{
        margin-left: 195px;
    }
    &__imgcenter{
        margin: 76px 166px 107px 70px;
    }
    &-box__centre-title{
        margin-top: 119px;
    }
    &-box__top-title{
        margin-top: 36px;
    }
   

}

.aside-container{
    background: #4867FF;

    &__image-phone-left{
       position: relative; 
       left: 420px;
       top: -350px;
        
    }

    &__image-phone-right{
        position: relative;
        left: 636px;
        top: -987px;
    }
    
    &__text-block{
        width: 80%;
        margin: 0 auto;
        height: 376px;
        .aside-container__text-block__text-top{
        color:#FFFFFF;
        font-family: 'Rubik, sans-serif';
        font-size: 28px;
        font-weight: 400;
        line-height: 33px;
        padding-top: 86px;
        margin-bottom: 4px;


        }
        &__text-head{
            font-family: 'Rubik, sans-serif';
            font-size: 74px;
            font-weight: 700;
            line-height: 88px;
            color: #fff;
            margin-bottom: 19px;
            
      
        }
        &__button{
            text-decoration: none;
            color: white;
            font-family: 'Poppins, sans-serif';
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 16px 58px 16px 50px;
            background: #4867FF;
            border: 1px solid #fff;
            border-radius: 4px;           
        }
        &__button:hover{
            background: #1631B6;
            transition: 1s;
            &-image{
                margin-left: 8px;
            }


        }

    }


}





.icons-partners{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 100px;
        .icons-partners__discr{
        h5{
            font-family: 'Rubik, sans-serif';
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 16px;
            
        }
        .icons-partners__discr__text{    
            color: #343A40;
        font-family: 'Poppins, sans-serif';
        font-size: 16px;
        line-height: 24px; 

        }
    }
}

.form{
    
    padding-top: 100px;
    background:#FBFBFB;

    


    .form-container{
        width: 82%;
        margin: 0 auto;
        display: flex;
    
        
        &__text-block{
            h5{        
                font-family: 'Rubik, sans-serif';
                font-size: 42px;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 16px;
                width: 376px;
            }
            p{ 
                font-family: 'Poppins, sans-serif';
                font-size: 16px;
                line-height: 24px;
            }
        }
            &__input-name{
                background: #EDEEEF;
                border: 1px solid #E3E5E6;
                box-sizing: border-box;
                border-radius: 4px;
                width: 376px;
                height: 65px;
                margin: 0 3%;    
            }
            &__input-mail{
                background: #EDEEEF;
                border: 1px solid #E3E5E6;
                box-sizing: border-box;
                border-radius: 4px;   
                width: 376px;
                height: 65px; 
            }

            &__input-comment{
                background: #EDEEEF;
                border: 1px solid #E3E5E6;
                box-sizing: border-box;
                border-radius: 4px;
                height: 169px;
                width: 97%;
                margin: 3% 0 3% 3%;
            }
    }
    .form-text{
        font-family: 'Poppins, sans-serif';
        font-size: 16px;
        line-height: 24px; 
        color: #808080; 
        margin: 12px 0 24px 37%;

    }
    .form-button__text{
        color: #FFFFFF;
        font-family: 'Poppins, sans-serif';
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 18px 61px;
        background: #3355FF;
        cursor: pointer;
        margin-left: 37%;
        border-radius: 4px;
    }
    .form-button__text:hover{
        background: #1631B6;
        transition: 1s;
    }

  

    .form-img__button{
        img{
            margin-left: 93%;
            margin-top: -17px;
            padding-bottom: 69px;
        }
    }

    
}
footer{
   
    background: #122791;
    .footer-info{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
        color: #fff; 
        .footer-link{
            color: #FFFFFF;
            font-family: 'Poppins, sans-serif';
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            

        }
        .footer-text{
            color: #FFFFFF;
            font-family: 'Poppins, sans-serif';
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;

        }
        .footer-tomail{
            text-decoration: none;
            font-family: 'Poppins, sans-serif';
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            color: #fff;

        }
    }   
}



